.dualPage {
  display: flex;
  width: 100%;
  height: calc(100vh - 88px);
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.left {
  background-color: white;
  width: 20%;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.right {
  width: 80%;
}
