ENV=development|production

PORT=8080
DOMAIN=localhost

SECURE=false|true
SECURE_REFERRER_POLICY=same-origin

JWT_KEY=your-secret-key-minimum-64-characters-random-string
JWT_EXPIRY_HOURS=24

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=coopcam
DB_SSLMODE=disable

# Mercado Pago
MP_ACCESS_TOKEN=your_access_token
MP_WEBHOOK_SECRET=your_webhook_secret
MP_WEBHOOK_URL=https://your-domain.com/api/v1/monthly-payment/webhook

FRONTEND_URL=https://frontend.domain.com
MOBILE_URL=https://mobile.domain.com

REDIS_URL=just_in_production