button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn {
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.btn-rounded {
  border-radius: 50%;
  padding: 0.4rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}
.btn-primary:hover {
  background-color: var(--color-secondary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn-secondary:hover {
  background-color: var(--color-primary);
}

.btn-success {
  background-color: var(--color-success);
  color: white;
}

.btn-danger {
  background-color: var(--color-error);
  color: white;
}

.btn-warning {
  background-color: var(--color-warning);
  color: white;
}

.btn-info {
  background-color: var(--color-info);
  color: white;
}
