.userReportCard {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  padding: 0.8rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: fit-content;
  min-width: 280px;
}

.userReportCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.userReportCardHeader span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.userReportCardHeader p {
  margin: 0;
  font-weight: 500;
}

.badge {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 6px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid;
}

.badge small {
  font-size: inherit;
}

.markedAndAttended {
  background-color: #ecfdf5;
  color: #047857;
  border-color: #047857;
}

.markedAndNotAttended {
  background-color: #fffaec;
  color: #eab308;
  border-color: #eab308;
}

.notMarkedAndAttended {
  background-color: #ffeaea;
  color: #ef4444;
  border-color: #ef4444;
}
