.reportsBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 80%;
  padding: 1.6rem !important;
}

.reportsBoxButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
}

.reportsList {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.userCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--color-primary);
    transform: translateY(-5px);
    box-shadow: var(--shadow-md);
  }
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid;
}

.markedAndAttended {
  background-color: #ecfdf5;
  color: #047857;
  border-color: #047857;
}

.markedAndNotAttended {
  background-color: #fffaec;
  color: #eab308;
  border-color: #eab308;
}

.notMarkedAndAttended {
  background-color: #ffeaea;
  color: #ef4444;
  border-color: #ef4444;
}
