.message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  animation: slideFade 6s ease-in-out forwards;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

.success {
  background-color: var(--color-success);
}

.error {
  background-color: var(--color-error);
}

.icon {
  font-size: 1.4rem;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: white;
}
