.formSection {
  position: relative;
}

.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: black;
}

.title {
  font-size: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.birthInput {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
}
