.form_page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  background-color: var(--color-primary);
  width: 100vw;
  min-height: 100vh;
  padding: 3rem 1rem;
}

.form_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  min-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: auto;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .form_page {
    flex-direction: column;
    gap: 4rem;
  }
}
