.left {
  position: relative;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

.createUserButton {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  padding: 4px;
  max-height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.userItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}

.userItem:hover,
.selectedUser {
  border: 2px solid var(--color-primary);
}

.userName {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.nonSelectedUserBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem !important;
  gap: 0 !important;
  text-align: center;
}
